.profile__edit-button {
    margin: 0 0 9px 0;
    padding: 0;
    width: 24px;
    height: 24px;
    background-color: #000;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    cursor: pointer;
}
.profile__edit-button:hover {
    transition: opacity .2s;
    opacity: 0.6;
}

@media screen and (max-width: 767px) {
    .profile__edit-button {
        width: 18px;
        height: 18px;
        margin-bottom: 5px;
    }
}