.page {
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    margin: 0;
    background-color: #000;
    color: #fff;
    padding: 28px 0 33px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}