.profile__status {
    margin: 0;
    font-size: 18px;
    line-height: 1.22;
    /*grid-area: status;*/
}

@media screen and (max-width: 767px) {
    .profile__status {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.21;
    }
}
@media screen and (max-width: 618px) {
    .profile__status {
        text-align: center;
    }
}