.profile__edit-button-image {
    max-width: 7px;
    min-height: 7px;
}

@media screen and (max-width: 767px) {
    .profile__edit-button-image {
        max-width: 7.5px;
        min-height: 7.5px;
    }
}
