.header {
    margin: 0 auto;
    padding-top: 17px;
    width: 85.94vw;
    max-width: 880px;
    min-height: 74px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media screen and (max-width: 618px) {
    .header {
        width: 100%;
        padding-top: 0;
    }
}
@media screen and (max-width: 424px) {
    .header {
        min-height: 17.5vw;
    }
}