.profile__info {
    margin-left: 30px;
    max-width: 336px;
    display: grid;
    grid-template-columns: max-content min-content;
    align-items: end;
    gap: 7px 18px;
    box-sizing: border-box;
    grid-template-areas:
    "name edit-button"
    "status status";
}

@media screen and (max-width: 618px) {
    .profile__info {
        margin-left: 0;
        margin-top: 26px;
        column-gap: 10px;
    }
}